<template>
  <div>
    <v-img src="../assets/img/hero-about.jpg"></v-img>
    <v-container>
      <v-row>
        <v-col class="pt-0 ml-2" cols="3">

          <a-avatar shape="square" :size="56" :src= this.$store.state.profile_user />
        </v-col>
        <v-col class="pt-2" cols="7">
          <span class="font-weight-bold">{{this.$store.state.nickname_user}} ({{this.$store.state.data_role}})</span>
          <p class="pa-0" >{{this.$store.state.email_User}}</p>
        </v-col>
        
      </v-row>
    </v-container>
    <v-progress-linear v-model="skill" color="blue-grey" height="1">
    </v-progress-linear>
    <v-progress-linear v-model="skill" color="blue-grey" height="1">
    </v-progress-linear>
  </div>
</template>

<script>
export default {
  data: () => ({
    selectedItem: 0,
    skill: false,
    // getdata: null,
    // nickname:null,
    // email:null,
    // profilepicture:null,
    // role:null, 
  }),
  created() {
    // this.getdata_storage();
  },
  methods: {
    // getdata_storage() {
    //   let data = JSON.parse(window.localStorage.getItem("user_data"));

    //   if (data === null) {
    //     this.getdata = null;
    //   } else {
        // this.nickname = data.nickname;
        // this.email = data.email;
        // this.profilepicture = data.profilepicture;
        // this.role = data.role;
  //     }
  //   },
  },
};
</script>
