<template>
  <v-footer padless height="60px" color="white">
       <v-col
      class="text-center"
      cols="12"
      background-color="white"
      
    >
      Version 1.2.0 — <strong>IoT  Hatyai</strong>
    </v-col>
  </v-footer>
</template>
<script>
export default {
  data() {
    return {
      
    };
  },
  created() {
  },

  methods: {
  },
};
</script>
