<template>
  <div class="home">
    <v-card class="mt-3" flat>
      <v-container class="pa-5">
        <v-row class="" align="center" justify="center">
          <v-col>
            <a-tabs destroyInactiveTabPane  v-model="activeKey" @change="tabclick">
              <a-tab-pane key="1" tab="เข้าพื้นที่">
                <JoinCalendarMeeting
                  ref="JoinCalendarMeeting"
                  v-bind:onechat_token="parameters_onechat_token"
                ></JoinCalendarMeeting>
              </a-tab-pane>
              <a-tab-pane key="2" tab="จองห้องประชุม" v-if="renderComponent">
                <CalendarMeeting
                  ref="CalendarMeeting"
                  @testnon="test()"
                ></CalendarMeeting>
              </a-tab-pane>
              <a-tab-pane key="3" tab="ตารางปฏิทินประชุม">
                <SchedulePerson ref="SchedulePerson"></SchedulePerson>
              </a-tab-pane>
            </a-tabs>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <ModalStatuscode ref="ModalStatuscode"></ModalStatuscode>
    <Footer class="mt-3" ref="Footer"></Footer>
  </div>
</template>

<script>
import CalendarMeeting from "../components/CalendatMeeting/CalendarMeeting.vue";
import SchedulePerson from "../components/SchedulePerson/SchedulePerson.vue";
import JoinCalendarMeeting from "../components/JoinCalendarMeeting/JoinCalendarMeeting.vue";
import Footer from "./Footer.vue";
import ModalStatuscode from "../components/ModalStatuscode.vue";
export default {
  name: "HomePage",
  components: {
    CalendarMeeting,
    SchedulePerson,
    JoinCalendarMeeting,
    Footer,
    ModalStatuscode,
  },
  data() {
    return {
      render:  true,
      activeKey: '1',
      loading: false,
      parameters_onechat_token: localStorage.getItem('token'),
      renderComponent: true,
      texttab: '',
      texttoken:null,
    }
  },
  computed: {
    destroy() {
      return this.$store.state.destroyer
    }
  },
  watch: {
    destroy(newValue) {
      if (newValue === true) {
        console.log('this is watchers');
        this.forceRerender()
        this.$store.commit('getDestroyer', false)
      }
    },
    '$route.params.tab'(value){
      console.log(value);
    }
  },
  created(){
    this.texttoken = this.$store.state.token_user
    console.log(this.texttoken);
  },
  mounted() {
    // var parameters = this.$route.query;
    // this.parameters_onechat_token = parameters.onechat_token;

    this.API_GetUserLogin();
  },
  methods: {
    tabclick (){
      console.log('tab click');
      console.log(this.activeKey);
      if (this.$store.state.token_user != "") {
        this.texttab = this.$store.state.token_user
      }
        
      if (this.activeKey === "1") {
        this.texttab = "เข้าพื้นที่"
      }
      if (this.activeKey === "2") {
        this.texttab = "จัดการห้อง"
      }
      if (this.activeKey === "3") {
        this.texttab = "ตารางปฏิทินประชุม"
      }
      this.$router.replace({ name: "HomePage", params: {tab: this.texttab} })
    },
    forceRerender () {
        this.renderComponent = false;
        this.$nextTick (() => {
          this.renderComponent = true;
        });
    },
    API_GetUserLogin() {
      var resStatus = "";
      this.$store.commit("getToken", this.parameters_onechat_token);
      console.log(
        "--parameters_onechat_token--",
        this.parameters_onechat_token
      );
      console.log(
        this.$store.state.url_get_API_axios +
          "api/v1/getProfile/" +
          this.parameters_onechat_token
      );
      this.axios({
        method: "GET",
        url: this.$store.state.url_get_API_axios + "api/v1/getProfile/" +this.$store.state.token_user,
        headers: {
          Authorization: this.$store.state.token_user,
        },
        // this.parameters_onechat_token,
      })
        .then((response) => {
          console.log("API_GetUserLogin------>", response.data);
          var results = response.data;
          this.$store.commit("getRoleUser", results.Value.role);
          this.$store.commit("getEmail",results.Value.email);
          this.$store.commit("getNickname",results.Value.nickname);
          this.$store.commit("getProfile",results.Value.profilepicture);

          if (response.data.Status == "success") {
            console.log(response);
            // this.save_Data(results);
          } else {
            var res = "ไม่พบข้อมูล";
            this.Model_countDown_error(res);
          }
        })
        .catch((error) => {
          console.log(error.response.data);

          if (error.message == "Request failed with status code 400") {
            resStatus = "Request failed with status code 400";
            this.Model_countDown_error(resStatus);
          } else if (error.message == "Request failed with status code 401") {
            if (error.response.data.Message == "token invalid") {
              resStatus = "fail";
              this.Model_countDown_error(resStatus);
            } else {
              this.$refs.ModalStatuscode.open_dialog401();
            }
          } else if (error.message == "Request failed with status code 404") {
            this.$refs.ModalStatuscode.open_dialog404();
          } else if (error.message == "Request failed with status code 500") {
            this.$refs.ModalStatuscode.open_dialog500();
          } else {
            resStatus = "error";
            this.Model_countDown_error(resStatus);
          }
        });
    },
    Model_countDown_error(response_Msg) {
      if (response_Msg == "fail") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "ไม่พบผู้ใช้นี้",
          content: `โปรดล็อกอินอีกครั้ง`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `โปรดล็อกอินอีกครั้ง`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else if (response_Msg == "Request failed with status code 400") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
    // save_Data(data) {
    //   var user_data = data.Value;
    //   window.localStorage.setItem("user_data", JSON.stringify(user_data));
    // },
    // getdata_storage() {
    //   let data = JSON.parse(window.localStorage.getItem("user_data"));
    //   console.log('data : ', data);
      // if (data === null) {
      //   this.getdata = null;
      // } else {
      //   this.email_user = data.email;
      // }
    // },
  },
};
</script>
<style lang="scss" scoped>
.truncatecus {
  max-width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
