<template>
  <div>
    <!-- desktop -->
    <v-app-bar
      class="px-0 mx-0 white hidden-sm-and-down"
      height="65%"
      flat
        >
      <v-img
        class="ml-5 mr-3 align-end"
        max-height="80px"
        max-width="100px"
        src="../assets/img/inetlogo.png"
      ></v-img>
      <v-divider class="mx-5" color="black" vertical inset></v-divider>
      <v-card-actions class="">
        <h3 class="mt-3 black--text font-weight-light">One Smart Access</h3>
      </v-card-actions>
      <v-spacer></v-spacer>
    
      <!-- <a-popover title="แจ้งเตือน" placement="leftBottom">
    <template slot="content">
      <p>Content</p>
      <p>Content</p>
    </template>
   <a-badge  class="mt-1 mr-6" :count="count" >
   <v-icon >mdi-bell-outline</v-icon>
      </a-badge> 
  </a-popover> -->



    <v-app-bar-nav-icon class="mt-1 mr-2" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar>

    <!-- mobile -->
    <v-app-bar
      class="px-0 mx-0 white hidden-md-and-up"
      height="60%"
      flat
        >
      <v-img
        class="ml-2 mr-3 align-end"
        max-height="70px"
        max-width="70px"
        src="../assets/img/inetlogo.png"
      ></v-img>
      <v-divider class="mx-1" color="black" vertical inset></v-divider>
      <v-card-actions class="">
        <h3 class="mt-3 black--text font-weight-light">One Smart Access</h3>
      </v-card-actions>
      <v-spacer></v-spacer>
    
      <!-- <a-popover title="แจ้งเตือน" placement="leftBottom">
    <template slot="content">
      <p>Content</p>
      <p>Content</p>
    </template>
   <a-badge  class="mt-1 mr-1" :count="count" >
   <v-icon >mdi-bell-outline</v-icon>
      </a-badge>
  </a-popover> -->



    <v-app-bar-nav-icon class="mt-1" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar>
  

 <v-navigation-drawer
      v-model="drawer"
      right
      app
      temporary
    >
     <Drawer ref="Drawer"></Drawer>
    </v-navigation-drawer>
   

    <router-view></router-view>

  </div>
</template>

<script>

import Drawer from "./Drawer.vue"
export default {
  components: {
    Drawer,
  },
  data: () => ({
    fab: false,
    direction: "top",
    visible: false,
    drawer: false,
      group: null,
    user_login: "",
    menuVisible: false,
    transition: "slide-y-reverse-transition",
    count: 5,
    user_token:'',

  }),
  beforeRouteEnter (to, from, next) {
    var paramsString = window.location.href
    console.log(paramsString);
    var onetoken = []
    var searchParams = new URLSearchParams(paramsString)
    searchParams.forEach((token) =>{
      onetoken.push(token)
      if (onetoken[0] !== '') {
        localStorage.clear()
        localStorage.setItem('token', onetoken[0])
      }
    })
    next()
  },
  created() {
    // console.log("token"+this.$store.state.token_user);
    this.$router.replace({name: "HomePage", params:{tab:"เข้าพื้นที่"}})
  },
  mounted() {

  },
  methods: {
    showDrawer() {
      this.visible = true;
    },
  },
};
</script>

<style lang="scss" scoped>
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
.md-app {
  min-height: 350px;
  border: 1px solid rgba(#000, 0.12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.underline {
  text-decoration: underline;
}

.backgroud_Plug {
  background-color: #ffd9d8;
}

.border {
  border-color: #ffd9d8;
}

.csslogout {
  align-content: start;
  justify-content: space-between;
}
</style>