<template>
  <div>
    <a-modal v-model="dialog500" centered :footer="null" fullscreen>
      <a-result
        status="500"
        title="500"
        sub-title="Sorry, the server is wrong."
      >
      </a-result>
    </a-modal>

    <a-modal v-model="dialog401"  centered :footer="null" fullscreen>
     <a-result status="403" title="401" sub-title="Sorry, you are not authorized to access this page.">
          </a-result>
    </a-modal>


    <a-modal v-model="dialog404"  centered :footer="null" fullscreen>
<a-result status="404" title="404" sub-title="Sorry, the page you visited does not exist.">      
      </a-result>
    </a-modal>

  </div>
</template>
<script>
export default {
  data() {
    return {
      dialog500: false,
      dialog401: false,
      dialog404:false,
    };
  },
  methods: {
    open_dialog500() {
      this.dialog500 = true;
    },
    open_dialog401() {
      console.log("dialog401");
      this.dialog401 = true;
    },
    open_dialog404() {
      this.dialog404 = true;
    },
  },
};
</script>
<style scoped>

</style>