<template>
  <div>
    <a-modal
      v-model="DialogShowMeetingPerson"
      title="ข้อมูลการประชุมของท่าน"
      centered
      :maskClosable="false"
    >
      <a-spin :spinning="spinning">
        <div>
          <v-row class="pt-3 pb-1 pt-0 pb-0">
            <v-col class="">
              <a-alert type="success" :description="this.convert_DateCendar" />
            </v-col>
          </v-row>
          <a-empty v-show="this.empty_data == true" style="margin-top: 20px">
            <span slot="description"> ท่านไม่มีประชุมในวันนี้ </span>
          </a-empty>

          <v-row
            class="pt-5"
            align="center"
            justify="center"
            v-for="items in this.data_list"
            :key="items"
          >
            <v-col class="pa-0">
              <a-card>
                <a-timeline>
                  <a-timeline-item color="green">
                    <a-icon
                      class="pr-5"
                      slot="dot"
                      type="solution"
                      style="font-size: 18px;"
                    />
                    {{ "หัวข้อประชุม : " + items.agenda }}
                  </a-timeline-item>
                  <a-timeline-item color="red">
                    <a-icon
                      slot="dot"
                      type="calendar"
                      style="font-size: 18px;"
                    />
                    {{ parseToDateFormat(items.meeting_start) }}
                  </a-timeline-item>

                  <a-timeline-item color="pink">
                    <a-icon slot="dot" type="bank" style="font-size: 18px;" />
                    {{ "ห้องประชุมที่ : " + items.room_num }}
                  </a-timeline-item>
                  <a-timeline-item color="blue">
                    <a-icon
                      slot="dot"
                      type="clock-circle-o"
                      style="font-size: 18px;"
                    />
                    {{
                      parseToTimeFormat(items.meeting_start, items.meeting_end)
                    }}
                  </a-timeline-item>

                  <a-timeline-item color="red">
                    <a-icon slot="dot" type="team" style="font-size: 18px;" />
                    <p>ผู้ร่วมประชุม :</p>
                    <div>
                      <a-tag class="mt-2" color="blue">
                        {{ items.one_email }}
                      </a-tag>
                    </div>
                    <div v-for="item_tag in items.guest_email" :key="item_tag">
                      <a-tag class="mt-2" color="blue">
                        {{ item_tag }}
                      </a-tag>
                    </div>
                  </a-timeline-item>
                </a-timeline>
              </a-card>
            </v-col>
          </v-row>
        </div>
      </a-spin>
      <template slot="footer">
        <a-button
          key="back"
          type="primary"
          @click="closeDialogShowMeetingPerson()"
        >
          ปิด
        </a-button>
      </template>
    </a-modal>

    <a-modal v-model="status_500" centered :footer="null">
      <a-result
        status="500"
        title="500"
        sub-title="Sorry, the server is wrong."
      >
        <template #extra> </template>
      </a-result>
    </a-modal>
    <ModalStatuscode ref="ModalStatuscode"></ModalStatuscode>
  </div>
</template>
<script>
import ModalStatuscode from "../ModalStatuscode.vue";

export default {
  components: { ModalStatuscode },
  data: () => ({
    DialogShowMeetingPerson: false,
    convert_DateCendar: null,
    select_date_calender: null,
    spinning: false,
    user_login: "",
    data_list: null,
    empty_data: false,
    status_500: false,
    email_user: "",
  }),
  created() {
    // this.getdata_storage();
  },
  methods: {
    open(data) {
      this.select_date_calender = data;
      console.log(data);
      var dd = data.slice(8, 10);
      var mm = data.slice(5, 7);
      var yy = data.slice(0, 4);
      //   console.log(dd);
      //   console.log(mm);
      //   console.log(yy);
      this.convert_DateCendar = "วันที่ " + dd + "-" + mm + "-" + yy;
      this.API_ShowBookingUser(data);
      this.DialogShowMeetingPerson = true;
    },
    cleanSpinning() {
      this.spinning = false;
    },
    closeDialogShowMeetingPerson() {
      this.DialogShowMeetingPerson = false;
    },
    parseToDateFormat(dateString) {
      let date = dateString.split(" ")[0].split("-");

      return "วันที่ : " + date[2] + " - " + date[1] + " - " + date[0];
    },
    parseToTimeFormat(startTime, endTime) {
      let timeStart_hour = startTime.split(" ")[1].split(":")[0];
      let timeStart_min = startTime.split(" ")[1].split(":")[1];
      let timeEnd_hour = endTime.split(" ")[1].split(":")[0];
      let timeEnd_min = endTime.split(" ")[1].split(":")[1];
      return (
        "เวลา : " +
        timeStart_hour +
        ":" +
        timeStart_min +
        " - " +
        timeEnd_hour +
        ":" +
        timeEnd_min +
        " น."
      );
    },
    API_ShowBookingUser(data) {
      this.spinning = true;
      this.empty_data = false;
      var resStatus = "";

      this.axios({
        method: "GET",
        url:
          this.$store.state.url_get_API_axios +
          "api/v1/bookingTable/" +
          this.$store.state.email_User +
          "/time/" +
          data,
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          console.log(response);
          // console.log(response.data);

          var results = response.data;
          if (results.Status == "success") {
            this.data_list = results.Value;
            this.cleanSpinning();

            if (results.Value.length === 0) {
              this.empty_data = true;
              this.data_list = [];
              this.cleanSpinning();
            }
          } else {
            this.$error({
              centered: true,
              title: "ไม่พบข้อมูล",
              content: "กรุณาตรวจสอบข้อมูล",
            });
            this.cleanSpinning();
          }
        })
        .catch((error) => {
          console.log(error.message);
          this.cleanSpinning();
          if (error.message == "Request failed with status code 400") {
            this.Model_countDown_error(error.message);
          } else if (error.message == "Request failed with status code 401") {
            this.$refs.ModalStatuscode.open_dialog401();
          } else if (error.message == "Request failed with status code 404") {
            this.$refs.ModalStatuscode.open_dialog404();
          } else if (error.message == "Request failed with status code 500") {
            this.$refs.ModalStatuscode.open_dialog500();
          } else {
            resStatus = "error";
            this.Model_countDown_error(resStatus);
          }
        });
    },
    // getdata_storage() {
    //   let data = JSON.parse(window.localStorage.getItem("user_data"));

    //   if (data === null) {
    //     this.getdata = null;
    //   } else {
    //     this.email_user = data.email;
    //   }
    // },
    Model_countDown_error(response_Msg) {
      if (response_Msg == "Request failed with status code 400") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
  },
};
</script>
<style scoped>
.spin-content {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  padding: 30px;
}
</style>
