<template>
  <div>
    <a-card style="">
      <v-row align="center" justify="center">
        <v-col class="pt-3 pt-0 pb-0" cols="9" align="left">
          <p>ปฏิทินการประชุมของท่าน</p>
        </v-col>

        <v-col class="mb-1 pt-0 pb-0" cols="3" align="right">
          <a-icon type="snippets" />
        </v-col>
      </v-row>
    </a-card>

    <v-row class="pt-3 pb-1 pt-0 pb-0">
      <v-col class="">
        <a-alert
          type="info"
          show-icon
          description="ท่านสามารถกดวันที่ในปฏิทิน เพื่อดูการประชุมของท่าน"
        />
      </v-col>
    </v-row>
    <a-spin :spinning="spinning">
      <div class="spin-content">
        <div
          class="mt-2 mb-1"
          style="border: 1px solid #d9d9d9; border-radius: 4px"
        >
          <a-calendar
            :fullscreen="false"
            :header-render="headerRender"
            :disabled-date="disabledDate"
            @select="onSelect"
            format="DD-MM-YYYY"
            @panelChange="onPanelChange"
          >
            <ul slot="dateCellRender" slot-scope="value" class="events">
              <li v-for="item in getListData(value)" :key="item.content">
                <a-icon
                  theme="filled"
                  :type="item.type"
                  :style="{ color: item.theme_color }"
                />
              </li>
            </ul>
          </a-calendar>
        </div>
      </div>
    </a-spin>

    <DialogShowMeetingPerson
      ref="DialogShowMeetingPerson"
    ></DialogShowMeetingPerson>
    <DialogAddMeeting
      ref="DialogAddMeeting"
      @API_GetBookingCalendarUser="API_GetBookingCalendarUser"
    ></DialogAddMeeting>
  </div>
</template>
<script>
import DialogShowMeetingPerson from "./DialogShowMeetingPerson.vue";
import DialogAddMeeting from "../CalendatMeeting/DialogAddMeeting.vue";
import moment from "moment";
export default {
  components: {
    DialogShowMeetingPerson,
    DialogAddMeeting,
  },
  data: () => ({
    format: "YYYY-MM-DD",
    day_event_calendar: null,
    user_login: "",
    email_user: "",
    List_booking_user: null,
    spinning: false,
    Date_now: null,
    Month_now: null,
    value_test: "",
  }),
  created() {
    this.getMonthNow();
    // this.getdata_storage();
    this.API_GetBookingCalendarUser();

  },
  methods: {
    moment,
    onSelect(value) {
      if (value != null) {
        var myJSONselectedValue = JSON.stringify(value);
        this.OpenDialogShowMeetingPerson(myJSONselectedValue);
      } else {
        this.$message.error("กรุุณาเลือกวันที่ให้ถูกต้อง");
      }
    },
    cleanSpinning() {
      this.spinning = false;
    },
    disabledDate(current) {
      return current && current < moment().startOf("day");
    },
    OpenDialogShowMeetingPerson(myJSONselectedValue) {
      var selectedValue = myJSONselectedValue.slice(1, 11);
      this.$refs.DialogShowMeetingPerson.open(selectedValue);
    },
    getMonthNow() {
      let Monthnow = new Date();
      this.Month_now = Monthnow.getMonth() + 1;
      this.Date_now = Monthnow.getDate();
    },
    getListData(value) {
      if (value.date() < 10) {
        var dateall = "0" + value.date();
      } else {
        dateall = value.date();
      }
      var dateValue = dateall + "-" + value.month();
      var dateSub = dateValue.substring(0, 2);
      var monthSub = dateValue.substring(3, 5);
      // console.log(dateSub);
      // console.log(monthSub);

      let listData;
      // listData = [{ type: "star", theme_color: "orange" }];

      for (var items of this.List_booking_user) {
        // console.log("dateSub---",dateSub.toString());
        // console.log("start_day---",items.meeting_start_day.toString());
        // console.log("month_now",(this.Month_now - 1).toString());

        if (
          dateSub.toString() == items.meeting_start_day.toString() &&
          dateSub >= "0" + this.Date_now &&
          monthSub == (this.Month_now - 1).toString()
        )
        {
          listData = [{ type: "star", theme_color: "orange" }];
        }
      }
      return listData || [];
    },
    async API_GetBookingCalendarUser() {
      // console.log("API_GetBookingCalendarUser--->");
      // console.log(this.$store.state.token_user);
      this.spinning = true;
      await this.axios({
        method: "GET",
        url:
          this.$store.state.url_get_API_axios +
          "api/v1/bookingTable/" +
          this.$store.state.email_User +
          "/future",
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          this.cleanSpinning();
          console.log(response);
          var results = response.data;
          if (results.Status == "success") {
            this.List_booking_user = results.Value;
            // console.log(this.List_booking_user);
          } else {
            console.log("test");
          }
        })
        .catch((error) => {
          this.cleanSpinning();
          console.log(error.message);
          // this.loading = false;
          if (error.message == "Request failed with status code 500") {
            this.$message.error("ไม่พบข้อมูล");
          }
        });
    },
    headerRender({ value, onChange }) {
      // const Now_Month = new Date(value);
      // const Next_Month = new Date(value);

      // const start = Now_Month.getMonth();
      // const end = (Next_Month.getMonth() + 1);
      // const end_month = end;
      const start = 0;
      const end = 12;
      const monthOptions = [];

      const current = value.clone();
      const localeData = value.localeData();
      const months = [];

      for (let i = 0; i < 12; i++) {
        current.month(i);
        months.push(localeData.monthsShort(current));
      }
      // console.log(end_month);
      for (let index = start; index < end; index++) {
        // console.log(index);
        // console.log(end);
        if (index <= end) {
          monthOptions.push(
            <a-select-option class="month-item" key={`${index}`}>
              {months[index]}
            </a-select-option>
          );
        }
      }
      const month = value.month();

      return (
        <div style={{ padding: "10px" }}>
          <a-row type="flex" justify="space-around ">
            <v-col cols="8" align="left" class="mt-1">
              <a-icon type="star" style="color: orange;" theme="filled" />
              <span class="ml-2"> หมายถึง มีการประชุม</span>
            </v-col>

            <v-col cols="4" align="right">
              <a-select
                dropdownMatchSelectWidth={false}
                value={String(month)}
                onChange={(selectedMonth) => {
                  const newValue = value.clone();
                  newValue.month(parseInt(selectedMonth, 10));
                  onChange(newValue);
                  // if(newValue.getMonth() < 2){
                  //   console.log("---->",newValue);
                  //    onChange(newValue);
                  // }
                }}
              >
                {monthOptions}
              </a-select>
            </v-col>
          </a-row>
        </div>
      );
    },
    // getdata_storage() {
    //   let data = JSON.parse(window.localStorage.getItem("user_data"));

    //   if (data === null) {
    //     this.getdata = null;
    //   } else {
    //     this.email_user = data.email;
    //   }
    // },
  },
};
</script>
<style scoped>
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}
</style>
