<template>
  <div>
    <a-alertุ
      message="เข้าพื้นที่"
      description="กดปุ่มด้านล่างเพื่อสแกน QR code"
      type="info"
      show-icon
    />
    <a-spin :spinning="spinning">
      <div class="spin-content pt-8">
        <v-row class="mb-3" align="center" justify="center">
          <v-col class="mt-7 pb-8" align="center">
            <v-img
              max-height="280px"
              max-width="280px"
              src="../../assets/img/test.png"
            >
              <v-img
                class="mt-8"
                v-show="this.state_qrcode == 0"
                max-height="215px"
                max-width="230px"
                src="../../assets/img/Qrcode-center.png"
              >
              </v-img>

              <div class="position_camera" v-if="this.state_qrcode == 1">
                <qrcode-drop-zone @decode="onDecode" @init="logErrors">
                  <qrcode-stream
                    :camera="camera"
                    @decode="onDecode"
                    @detect="onDetect"
                    @init="onInit"
                  />
                </qrcode-drop-zone>

                <qrcode-capture v-if="noStreamApiSupport" @decode="onDecode" />
              </div>
            </v-img>
          </v-col>
        </v-row>
      </div>
    </a-spin>

    <v-row class="mt-5 pb-8" align="center" justify="center">
      <v-col align="center">
        <a-button
          type="primary"
          icon="qrcode"
          size="large"
          style="height:60px;"
          @click="Open_Change_state_qrcode()"
        >
          เข้าพื้นที่
        </a-button>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {},
  // props: ['onechat_token'],
  data() {
    return {
      spinning: false,
      noStreamApiSupport: false,
      state_qrcode: 0,
      room: "",
      email: "",
      camera: "auto",
      result_api: {},
      dialog: false,
      token_user: null,
    };
  },
  created() {
    // this.getdata_storage();
    // this.email = this.$store.state.email_User
  },
  computed: {
    Close_camera() {
      return this.camera === "off";
    },
  },
  methods: {
    onDecode(room) {
      // console.log(room);
      this.room = room;
      // console.log(this.room);
      // console.log(this.email);
      if (this.room != "") {
        this.spinning = !this.spinning;
         this.state_qrcode = 0;
        this.API_Qrcode();
       
      }
      this.state_qrcode = 0;
    },
    API_Qrcode() {
      // console.log('API_Qrcode');
      // console.log(response.data);
      // console.log(this.state_qrcode);
      this.email = this.$store.state.email_User
      // console.log(this.email);
      this.spinning = true;
      if (this.room == null && this.email == null) {
        this.$message.error("ไม่พบอีเมลและคิวอาร์โค้ด");
        this.cleanSpinning();
      } else if (this.email == null) {
        this.$message.error("ไม่พบอีเมล โปรดล็อกอินใหม่อีกครั้ง");
        this.cleanSpinning();
      } else if (this.room == null) {
        this.$message.error("ไม่พบคิวอาร์โค้ด โปรดสแกนใหม่อีกครั้ง");
        this.cleanSpinning();
      } else {
        this.result_api = { one_email: this.email, room_num: this.room };
        // console.log(this.result_api);
        // console.log("db0x02", this.$store.state.token_user);

        // console.log("call unlock api")
        this.axios({
          method: "POST",
          url: this.$store.state.url_get_API_axios + "api/v1/unlock/" + this.$store.state.token_user,
          
          // this.onechat_token,
          data: this.result_api,
          headers: {
          Authorization: this.$store.state.token_user,
        },
          // headers: { Authorization: "Bearer " + localStorage.token },
        })
        // console.log("calllllll")
          .then((response) => {
            // console.log("call response");
            this.state_qrcode === 0;
            this.cleanSpinning();

            this.results = response.data;
            console.log(response.data);

            if (response.data.Message == "meeting room accessed") {
              this.$success({
                title: "ผ่าน",
                content: "เชิญค่ะ",
                centered: true,
              });

              // location.reload();
            } else if (response.data.Message == "cannot access meeting room") {
              this.$error({
                title: "ไม่สามารถเข้าพื้นที่ได้",
                content: "ลองใหม่อีกครั้งค่ะ",
                centered: true,
              });
              // setTimeout(function(){   location.reload(); }, 3000);

              // console.log(response.data);
            } else if (response.data.Message == "main door accessed") {
              if (
                response.data.Value.result[0].door_action == "not_open" &&
                response.data.Value.result[0].covid_level == ""
              ) {
                this.$error({
                  title: "ห้ามเข้าพื้นที่",
                  content: "สถานะของคุณคือ" + response.data.Value.help,
                  centered: true,
                });

                // setTimeout(function(){   location.reload(); }, 3000);
              } else if (
                response.data.Value.result[0].door_action == "not_open" &&
                response.data.Value.result[0].covid_level == "red"
              ) {
                this.$success({
                  title: "ห้ามเข้าพื้นที่",
                  content: response.data.Value.help,
                  centered: true,
                });

                // setTimeout(function(){   location.reload(); }, 3000);
              } else if (
                response.data.Value.result[0].door_action == "open" &&
                response.data.Value.result[0].covid_level == "green"
              ) {
                this.$success({
                  title: "เปิดประตูสำเร็จ",
                  content: response.data.Value.help,
                  centered: true,
                });

                // setTimeout(function(){   location.reload(); }, 3000);
              } else if (
                response.data.Value.result[0].door_action == "open" &&
                response.data.Value.result[0].covid_level == "yellow"
              ) {
                this.$success({
                  title: "เปิดประตูสำเร็จ",
                  content: response.data.Value.help,
                  centered: true,
                });

                // setTimeout(function(){   location.reload(); }, 3000);
              } else if (
                response.data.Value.result[0].door_action == "open" &&
                response.data.Value.result[0].covid_level == "orange"
              ) {
                this.$success({
                  title: "เปิดประตูสำเร็จ",
                  content: response.data.Value.help,
                  centered: true,
                });

                // setTimeout(function(){   location.reload(); }, 3000);
              }
            } else if (response.data.Message == "cannot access main door") {
              this.$error({
                title: "เปิดประตูไม่สำเร็จ",
                content: response.data.Value.help,
                centered: true,
              });
            } else {
              // this.spinning = false;
              this.$error({
                title: "ไม่พบข้อมูล",
                content: "ไม่พบข้อมูล",
                centered: true,
              });
            }
          })
          .catch((error) => {
            // console.log("db0x01")
            console.log(error)
            // console.log(error.response);
            // setTimeout(function(){   location.reload(); }, 3000);
            this.state_qrcode == 0;
            this.cleanSpinning();
            if (error.message == "Request failed with status code 401") {
              this.$error({
                title: "ไม่พบผู้ใช้งาน",
                // content: "Token Invalid",
                centered: true,
              });
              // this.cleanSpinning();
            } else if (error.message == "Request failed with status code 404") {
              if (error.response.data.Message == "room number is invalid") {
                this.$error({
                  title: "ไม่พบห้อง โปรดสแกนใหม่อีกครั้ง",
                  centered: true,
                });
              } else {
                this.$error({
                  title: "ไม่พบห้อง หรือผู้ใช่งาน",
                  centered: true,
                });
              }
            } else {
              this.$error({
                title: "เกิดข้อผิดพลาด โปรดลองใหม่อีกครั้ง",
                centered: true,
              });
            }
          });
      }
    },

    cleanSpinning() {
      this.spinning = false;
    },
    logErrors(promise) {
      promise.catch(console.error);
    },
    async onDetect(promise) {
      try {
        const {
          imageData, // raw image data of image/frame
        } = await promise;

        console.log(imageData);
      } catch (error) {
        console.log(error);
      }
    },
    Open_Change_state_qrcode() {
      this.state_qrcode = 1;
      // console.log(this.state_qrcode);
    },
    // Open_DialogShowStatus(){
    //   this.
    // },
    async onInit(promise) {
      try {
        await promise;
      } catch (error) {
        if (error.name === "StreamApiNotSupportedError") {
          this.noStreamApiSupport = true;
        }
      }
    },
  },
};
</script>

<style scoped>
.error {
  font-weight: bold;
  color: red;
}
.position_camera {
  left: 0;
  right: 0;
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  height: 275px;
  z-index: 100;
  display: flex;

  justify-content: center;
}
</style>
