<template>
<v-app class = "app-text" style="background-color: #f0f5f5;" >
    <v-content>
          <router-view></router-view>
    </v-content>
</v-app>
</template>

<script>

export default {
  name: 'App',
  components: {
  },

};
</script>
<style >
/* .app-text {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  max-width: 768px;
  margin: 0 auto;
} */

.ant-time-picker-panel-select {
    overflow-y: scroll !important;
}
</style>