<template>
  <div>
    <a-card style="">
      <v-row align="center" justify="center">
        <v-col class="mt-3 pt-0 pb-0" cols="7" align="left">
          <p>ปฏิทินการจองห้องประชุม</p>
        </v-col>

        <v-col class="mt-3 pt-0 pb-0" cols="" align="right">
          <a-icon class="pl-2" type="calendar" />
        </v-col>
      </v-row>
    </a-card>

    <v-row class="mt-1 pb-0">
      <v-col class="">
        <a-alert
          type="info"
          show-icon
          description="ท่านสามารถกดวันที่ในปฏิทิน เพื่อจองห้องประชุม"
        />
      </v-col>
    </v-row>
    <a-spin :spinning="spinning">
      <div class="spin-content">
        <v-row class="mt-1" align="center" justify="center">
          <v-col>
            <div style="border: 1px solid #d9d9d9; border-radius: 4px">
              <a-calendar
                :fullscreen="false"
                :header-render="headerRender"
                :disabled-date="disabledDate"
                @select="onSelect"
                format="DD-MM-YYYY"
                @panelChange="onPanelChange"
              >
                <ul slot="dateCellRender" slot-scope="value" class="events">
                  <li v-for="item in getListData(value)" :key="item.content">
                    <v-icon x-small :color="item.color">
                      mdi-circle
                    </v-icon>
                  </li>
                </ul>
              </a-calendar>
            </div>
          </v-col>
        </v-row>
      </div>
    </a-spin>
    <a-card> </a-card>
    <!-- <pre>{{this.$store.state.token_user}}</pre> -->
    <a-card>
      <v-row>
        <v-col class="pa-0" cols="6" align="center" justify="center">
          <v-card-text class="pa-0 pt-2 font-weight-bold" align="center"
            >ดูการประชุมปัจจุปัน</v-card-text
          >
          <a-button
            class="mt-2 pr-2"
            type="primary"
            @click="OpenDialogNowMeetingTable()"
          >
            <a-icon class="" type="schedule" />
            ห้องประชุมปัจจุบัน
          </a-button>
        </v-col>
        <v-col cols="6" class="pa-0 pr-0" align="center" justify="center">
          <v-card-text class=" pa-0 pt-2 font-weight-bold" align="center"
            >ดูการจองของท่าน</v-card-text
          >

          <a-button
            class="mt-2 ml-1"
            type="primary"
            @click="OpenDialogShowBookingMeeting()"
          >
            <a-icon class="" type="contacts" />
            การจองของท่าน
          </a-button>
        </v-col>
      </v-row>
    </a-card>
    <DialogSearchRoom
      ref="DialogSearchRoom"
      @getDialogAddMeeting="OpenDialogAddMeeting"
    ></DialogSearchRoom>
    <DialogAddMeeting
      ref="DialogAddMeeting"
      @getAPI_GetBookingCalendar="API_GetBookingCalendar"
    ></DialogAddMeeting>
    <DialogShowBookingMeeting
      ref="DialogShowBookingMeeting"
    ></DialogShowBookingMeeting>
    <DialogNowMeetingTable ref="DialogNowMeetingTable"></DialogNowMeetingTable>
    <ModalStatuscode ref="ModalStatuscode"></ModalStatuscode>
  </div>
</template>
<script>
import DialogSearchRoom from "./DialogSearchRoom.vue";
import DialogAddMeeting from "./DialogAddMeeting.vue";
import DialogShowBookingMeeting from "./DialogShowBookingMeeting.vue";
import DialogNowMeetingTable from "./DialogNowMeetingTable.vue";
import moment from "moment";
import ModalStatuscode from "../ModalStatuscode.vue";

export default {
  components: {
    DialogSearchRoom,
    DialogAddMeeting,
    DialogShowBookingMeeting,
    DialogNowMeetingTable,
    ModalStatuscode,
  },
  data: () => ({
    this_month: null,
    next_month: null,
    Date_now: null,
    Month_now: null,
    spinning: false,
    redStatus_list: [],
  }),
  created() {
    this.getMonthNow();
    this.API_GetBookingCalendar();
    this.API_StatusRoom();
  },
  methods: {
    moment,
    onSelect(value) {
      if (value != null) {
        // console.log(value);
        var myJSONselectedValue = JSON.stringify(value);
        // console.log(myJSONselectedValue);
        this.OpenDialogSearchRoom(myJSONselectedValue);
      } else {
        this.$message.error("กรุุณาเลือกวันที่ให้ถูกต้อง");
      }
    },
    onPanelChange(value, mode) {
      console.log(value, mode);
    },
    disabledDate(current) {
      return current && current < moment().startOf("day");
    },
    cleanSpinning() {
      this.spinning = false;
    },
    OpenDialogSearchRoom(myJSONselectedValue) {
      var selectedValue = myJSONselectedValue.slice(1, 11);
      this.$refs.DialogSearchRoom.open(selectedValue);
    },
    OpenDialogShowBookingMeeting() {
      this.$refs.DialogShowBookingMeeting.open();
    },
    OpenDialogAddMeeting(params) {
      // console.log(params);
      this.$refs.DialogAddMeeting.open(params);
    },
    OpenDialogNowMeetingTable() {
      this.$refs.DialogNowMeetingTable.open();
    },
    getListData(value) {
      // console.log(value);
      // console.log(value.date());
      if (value.date() < 10) {
        // console.log(value);
        var dateall = "0" + value.date();
      } else {
        dateall = value.date();
        // console.log(dateall);
      }
      var dateValue = dateall + "-" + value.month();
      var dateSub = dateValue.substring(0, 2);
      var monthSub = dateValue.substring(3, 5);
      // console.log("dateValue",dateValue);
      // console.log("dateSub",dateSub);
      // console.log("monthSub",monthSub);

      let listData;
      // console.log(this.this_month);
      for (var items of this.redStatus_list) {
        // console.log(items);
        if (
          dateSub.toString() == items.day.toString() &&
          dateSub >= "0" + this.Date_now &&
          monthSub == (this.Month_now - 1).toString()
        ) {
          // console.log("api_statusRoom--->");
          listData = [{ color: "#F44336" }];
        }
      }
      return listData || [];
    },
    getMonthNow() {
      let Monthnow = new Date();
      this.Month_now = Monthnow.getMonth() + 1;
      this.Date_now = Monthnow.getDate();
    },

    headerRender({ value, type, onChange, onTypeChange }) {
      // const Now_Month = new Date(value);
      // const Next_Month = new Date(value);

      // const start = Now_Month.getMonth();
      // const end = Next_Month.getMonth() + 1;
      // const end_month = end;
      const start = 0;
      const end = 12;
      const monthOptions = [];

      const current = value.clone();
      const localeData = value.localeData();
      const months = [];
      for (let i = 0; i < 12; i++) {
        current.month(i);
        months.push(localeData.monthsShort(current));
      }
      // console.log(end_month);
      for (let index = start; index < end; index++) {
        // console.log(index);
        // console.log(end);
        if (index < end) {
          monthOptions.push(
            <a-select-option class="month-item" key={`${index}`}>
              {months[index]}
            </a-select-option>
          );
        }
      }
      const month = value.month();

      return (
        <div style={{ padding: "10px" }}>
          <a-row type="flex" justify="space-around ">
            <v-col cols="8" align="left" class="mt-1 " justify="end">
              <v-icon x-small color="red" class="marginSPan">
                mdi-brightness-1
              </v-icon>
              <span class="ml-2"> หมายถึง มีการจองหนาแน่น</span>
            </v-col>

            <v-col cols="0" class="mt-1">
              <a-radio-group
                size="small"
                onChange={(e) => onTypeChange(e.target.value)}
                value={type}
              ></a-radio-group>
            </v-col>

            <v-col cols="3" align="right">
              <a-select
                dropdownMatchSelectWidth={false}
                value={String(month)}
                onChange={(selectedMonth) => {
                  const newValue = value.clone();
                  newValue.month(parseInt(selectedMonth, 10));
                  onChange(newValue);
                }}
              >
                {monthOptions}
              </a-select>
            </v-col>
          </a-row>
        </div>
      );
    },
    API_GetBookingCalendar() {
      var resStatus = "";
      this.spinning = true;
      this.axios({
        method: "GET",
        url: this.$store.state.url_get_API_axios + "api/v1/bookingTable",
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          this.cleanSpinning();

          var results = response.data;
          // console.log(results);
          // console.log(results.Value.meeting_start);

          if (results.Status == "success") {
            this.this_month = results.Value.this_month;
            this.next_month = results.Value.next_month;

            this.$emit("ModalStatusAxiosAPI", response.data.Status);
          } else {
            // this.spinning = false;

            this.$error({
              title: "ไม่พบข้อมูล",
              content: "ไม่พบข้อมูล",
            });
          }
        })
        .catch((error) => {
          console.log(error);

          if (error.message == "Request failed with status code 400") {
            this.Model_countDown_error(resStatus);
          } else if (error.message == "Request failed with status code 401") {
            this.$refs.ModalStatuscode.open_dialog401();
          } else if (error.message == "Request failed with status code 404") {
            this.$refs.ModalStatuscode.open_dialog404();
          } else if (error.message == "Request failed with status code 500") {
            this.$refs.ModalStatuscode.open_dialog500();
          } else {
            resStatus = "error";
            this.Model_countDown_error(resStatus);
          }
        });
    },
    API_StatusRoom() {
      this.spinning = true;
      this.axios({
        method: "GET",
        url: this.$store.state.url_get_API_axios + "api/v1/availableStat",
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          this.cleanSpinning();
          // console.log(response);

          response.data.Value.forEach((red) => {
            if (red.status_all === "red") {
              this.redStatus_list.push(red);
            }
          });
          // console.log(this.redStatus_list);

          for (var items of this.redStatus_list) {
            if(items.day < 10) {
              items.day = '0' + items.day.toString() 
            }
          }
          
          if (response.data.Status == "success") {
            console.log(response.data.Status);

            // this.$emit("ModalStatusAxiosAPI", response.data.Status);
          } else {
            // this.spinning = false;

            this.$error({
              title: "ไม่พบข้อมูล",
              content: "ไม่พบข้อมูล",
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    Model_countDown_error(response_Msg) {
      if (response_Msg == "fail") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "ไม่พบผู้ใช้นี้",
          content: `โปรดล็อกอินอีกครั้ง`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `โปรดล็อกอินอีกครั้ง`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else if (response_Msg == "Request failed with status code 400") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
  },
};
</script>
<style scoped>
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}
.marginSPan {
  margin-bottom: 1%;
}
</style>
