<template>
  <div>
    <a-modal
      v-model="dialogShowBookingMeeting"
      centered
      title="ข้อมูลการจองห้องประชุม"
      :maskClosable="false"
    >
      <a-spin :spinning="spinning">
        <div>
          <a-empty v-show="this.empty_data == true" style="margin-top: 20px">
            <span slot="description"> ท่านไม่มีประชุมในวันนี้ </span>
          </a-empty>
          <v-row
            class="pt-5"
            align="center"
            justify="center"
            v-for="items in this.data_userBooking"
            :key="items"
          >
            <v-col class="pa-0" v-if="items.guest == false">
              <a-card>
                <a-timeline>
                  <a-timeline-item color="green">
                    <a-icon
                      class="pr-5"
                      slot="dot"
                      type="solution"
                      style="font-size: 18px;"
                    />
                    {{ "หัวข้อประชุม : " + items.agenda }}
                  </a-timeline-item>
                  <a-timeline-item color="red">
                    <a-icon
                      slot="dot"
                      type="calendar"
                      style="font-size: 18px;"
                    />
                    {{ parseToDateFormat(items.meeting_start) }}
                  </a-timeline-item>

                  <a-timeline-item color="pink">
                    <a-icon slot="dot" type="bank" style="font-size: 18px;" />
                    {{ "ห้องประชุมที่ : " + items.room_num }}
                  </a-timeline-item>
                  <a-timeline-item color="blue">
                    <a-icon
                      slot="dot"
                      type="clock-circle-o"
                      style="font-size: 18px;"
                    />
                    {{
                      parseToTimeFormat(items.meeting_start, items.meeting_end)
                    }}
                  </a-timeline-item>

                  <a-timeline-item color="green">
                    <a-icon slot="dot" type="user" style="font-size: 18px;" />
                    {{ "ชื่อผู้จอง : " + items.one_email }}
                  </a-timeline-item>
                  <!-- <pre>{{items}}</pre> -->

                  <a-timeline-item color="red">
                    <a-icon slot="dot" type="team" style="font-size: 18px;" />
                    <p>ผู้ร่วมประชุม :</p>
                    <div v-for="item_tag in items.guest_email" :key="item_tag">
                      <a-tag color="blue" style="margin-left:20px">
                        {{ item_tag }}
                      </a-tag>
                    </div>
                  </a-timeline-item>
                </a-timeline>
                <v-row>
                  <v-col cols="6" align="center" justify="center">
                    <!-- <v-form ref="form"> -->
                    <a-button
                      type="primary"
                      @click="openDialogAddPerson(items)"
                    >
                      ผู้เข้าร่วมประชุม
                    </a-button>
                    <!-- </v-form> -->
                  </v-col>
                  <v-col cols="6" align="center" justify="center">
                    <a-button
                      type="danger"
                      @click="OpenModal_before_eject(items)"
                    >
                      ยกเลิกการจอง
                    </a-button>
                  </v-col>
                </v-row>
              </a-card>
            </v-col>
          </v-row>
        </div>
      </a-spin>

      <template slot="footer">
        <a-button
          key="back"
          type="primary"
          @click="close_dialogShowBookingMeeting()"
        >
          ปิด
        </a-button>
      </template>
    </a-modal>
    <DialogAddPerson
      ref="DialogAddPerson"
      v-on:updateGuest="updateGuest"
    ></DialogAddPerson>
  </div>
</template>
<script>
import DialogAddPerson from "./DialogAddPerson.vue";
export default {
  components: {
    DialogAddPerson,
  },
  data: () => ({
    deleteStatus: false,
    dialogShowBookingMeeting: false,
    user_login: "",
    data_userBooking: null,
    spinning: false,
    modal_eject: null,
    empty_data: false,
    email_user: "",
    resStatus: "",
    convert_Date: null,
    select_date: null,
  }),
  watch: {
    dialogShowBookingMeeting(newValue, oldValue) {
      // console.log(this.deleteStatus);
      if (oldValue === true && newValue === false && this.deleteStatus === true) {
          // console.log('delete');
          this.$store.commit('getDestroyer', true)  
      }
    },
    deleteStatus (){
      
    }
  },
  created() {
    // this.getdata_storage();
  },
  methods: {
    updateGuest() {
      this.API_GetBookingCalendar_UserFuture();
    },
    open() {
      this.dialogShowBookingMeeting = true;
      this.API_GetBookingCalendar_UserFuture();
    },
    close_dialogShowBookingMeeting() {
      this.dialogShowBookingMeeting = false;
    },
    cleanSpinning() {
      this.spinning = false;
    },
    API_GetBookingCalendar_UserFuture() {
      this.empty_data = false;
      this.spinning = true;
      this.axios({
        method: "GET",
        url:
          this.$store.state.url_get_API_axios +
          "api/v1/bookingTable/" +
          this.$store.state.email_User +
          "/future",
          headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          this.cleanSpinning();
          if (response.data.Status === "success") {
            this.data_userBooking = response.data.Value;
            this.empty_data = false;
            if (response.data.Value.length === 0) {
              this.data_list = [];
              this.empty_data = true;
              // this.cleanSpinning();
            }
          } else {
            // this.empty_data = true;
            this.cleanSpinning();
          }
        })
        .catch((error) => {
          this.cleanSpinning();
          console.log(error.message);
          // this.loading = false;
          if (error.message == "Request failed with status code 400") {
            this.$message.error("ไม่พบข้อมูล");
            this.cleanSpinning();
          } else if (error.message == "Network Error") {
            this.$error({
              centered: true,
              title: "ไม่สามารถค้นหาห้องประชุมได้",
              content: "กรุณาตรวจสอบเครือข่าย !!!",
            });
            this.cleanSpinning();
          }
        });
    },
    OpenModal_before_eject(data) {
      this.modal_eject = this.$confirm({
        title: "ยืนยันการยกเลิกหรือไม่?",
        content: "หากท่านต้องการยกเลิกการจอง กดปุ่มยืนยัน",
        okText: "ยืนยัน",
        okType: "danger",
        centered: true,
        cancelText: "ยกเลิก",

        onOk: () => {
          this.$emit(this.API_RejectBooking(data));
        },
        onCancel() {},
      });
    },
    API_RejectBooking(data) {
      this.empty_data = false;
      this.modal_eject.destroy();
      this.spinning = true;
      this.deleteStatus = true

      console.log(data);

      this.axios({
        method: "GET",
        url:
          this.$store.state.url_get_API_axios +
          "api/v1/ejectBooking/" +
          this.$store.state.email_User +
          "/" +
          data.booking_number,
          headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          // console.log("----->API_GetBookingCalendar_UserFuture", response);

          var results = response.data;
          if (results.Status == "success") {
            this.cleanSpinning();
            this.$success({
              title: "ยกเลิกการจองสำเร็จ",
              content: "การจองของท่านได้ถูกยกเลิกแล้ว",
              centered: true,
            });
            this.spinning = true;
            this.API_GetBookingCalendar_UserFuture();
          } else {
            this.cleanSpinning();
          }
          this.cleanSpinning();
        })
        .catch((error) => {
          console.log(error.message);

          if (error.message == "Request failed with status code 400") {
            if (
              error.response.data.Message == "this booking number already eject"
            ) {
              this.Model_countDown_error(error.response.data.Message);
            }
            this.Model_countDown_error(error.message);
          } else if (error.message == "Request failed with status code 401") {
            this.$refs.ModalStatuscode.open_dialog401();
          } else if (error.message == "Request failed with status code 404") {
            this.$refs.ModalStatuscode.open_dialog404();
          } else if (error.message == "Request failed with status code 500") {
            this.$refs.ModalStatuscode.open_dialog500();
          } else {
            this.resStatus = "error";
            this.Model_countDown_error(this.resStatus);
          }
        });
    },
    parseToDateFormat(dateString) {
      // let date = new Date(dateString);
      // return (
      //   "วันที่ : " +
      //   date.getDate() +
      //   " - " +
      //   (date.getMonth() + 1) +
      //   " - " +
      //   date.getFullYear()
      // );

      let date = dateString.split(" ")[0].split("-");

      return "วันที่ : " + date[2] + " - " + date[1] + " - " + date[0];
    },
    parseToTimeFormat(startTime, endTime) {
      let timeStart_hour = startTime.split(" ")[1].split(":")[0];
      let timeStart_min = startTime.split(" ")[1].split(":")[1];
      let timeEnd_hour = endTime.split(" ")[1].split(":")[0];
      let timeEnd_min = endTime.split(" ")[1].split(":")[1];
      return (
        "เวลา : " +
        timeStart_hour +
        ":" +
        timeStart_min +
        " - " +
        timeEnd_hour +
        ":" +
        timeEnd_min +
        " น."
      );

      // let timeStart = new Date(startTime);
      // let timeEnd = new Date(endTime);
      // var timeStart_min = 0;
      // var timeEnd_min = 0;
      // if (timeStart.getMinutes() < 10) {
      //   timeStart_min = "0" + timeStart.getMinutes();
      // } else {
      //   timeStart_min = timeStart.getMinutes();
      // }
      // if (timeEnd.getMinutes() < 10) {
      //   timeEnd_min = "0" + timeEnd.getMinutes();
      // } else {
      //   timeEnd_min = timeEnd.getMinutes();
      // }
      // return (
      //   "เวลา : " +
      //   timeStart.getHours() +
      //   ":" +
      //   timeStart_min +
      //   " - " +
      //   timeEnd.getHours() +
      //   ":" +
      //   timeEnd_min +
      //   " น."
      // );
    },

    Model_countDown_error(response_Msg) {
      if (response_Msg == "this booking number already eject") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "การจองนี้ถูกยกเลิกไปแล้ว",
          content: `กรุณาตรวจสอบการจองของท่านอีกครั้ง`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `กรุณาตรวจสอบการจองของท่านอีกครั้ง`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else if (response_Msg == "Request failed with status code 400") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
    openDialogAddPerson(data) {
      this.$refs.DialogAddPerson.open(data);
    },
  },
};
</script>
<style scoped></style>
