<template>
  <div>
    <a-modal
      v-model="dialogNowMeetingTable"
      centered
      title="การใช้งานห้องประชุมปัจจุบัน"
      :maskClosable="false"
    >
      <a-spin :spinning="spinning">
        <div>

          <a-empty v-show="this.empty_data == true" style="margin-top: 20px">
            <span slot="description"> ขณะนี้ไม่มีผู้ใช้งานห้องประชุม </span>
          </a-empty>

          <v-row
            class="pt-5"
            align="center"
            justify="center"
            v-for="items in this.data_nowMeeting"
            :key="items"
          >
            <v-col class="pa-0">
              <a-card>
                <!-- <pre>{{items}}</pre> -->
                <a-timeline>
                  <a-timeline-item color="blue">
                    <a-icon
                      class="pr-5"
                      slot="dot"
                      type="solution"
                      style="font-size: 18px;"
                    />
                    {{ "หัวข้อประชุม : " + items.agenda }}
                  </a-timeline-item>

                  <a-timeline-item color="blue">
                    <a-icon slot="dot" type="bank" style="font-size: 18px;" />
                    {{ "ห้องประชุมที่ : " + items.room_num }}
                  </a-timeline-item>

                  <a-timeline-item color="blue">
                    <a-icon
                      slot="dot"
                      type="calendar"
                      style="font-size: 18px;"
                    />
                    {{ parseToDateFormat(items.meeting_start) }}
                  </a-timeline-item>

                  <a-timeline-item color="blue">
                    <a-icon
                      slot="dot"
                      type="clock-circle-o"
                      style="font-size: 18px;"
                    />
                    {{
                      parseToTimeFormat(items.meeting_start, items.meeting_end)
                    }}
                  </a-timeline-item>

                  <a-timeline-item color="blue" v-if="role_user === 'admin'">
                    <a-icon slot="dot" type="user" style="font-size: 18px;" />
                    <a-tag color="green">{{ "ท่านเป็นผู้ดูแล" }}</a-tag>
                  </a-timeline-item>

                  <a-timeline-item
                    color="blue"
                    v-if="role_user !== 'admin' && items.access === false"
                  >
                    <a-icon slot="dot" type="user" style="font-size: 18px;" />
                    <a-tag color="red">{{
                      "ท่านไม่ได้อยู่ในรายชื่อการประชุม"
                    }}</a-tag>
                  </a-timeline-item>

                  <a-timeline-item
                    color="blue"
                    v-if="role_user !== 'admin' && items.access === true"
                  >
                    <a-icon slot="dot" type="user" style="font-size: 18px;" />
                    <a-tag color="green">{{
                      "ท่านอยู่ในรายชื่อการประชุม"
                    }}</a-tag>
                  </a-timeline-item>
                </a-timeline>
              </a-card>
            </v-col>
          </v-row>
          <!-- <pre>{{role_user}}</pre> -->
        </div>
      </a-spin>

      <template slot="footer">
        <a-button
          key="back"
          type="primary"
          @click="close_dialogNowMeetingTable()"
        >
          ปิด
        </a-button>
      </template>
    </a-modal>
  </div>
</template>
<script>
export default {
  components: {},
  data: () => ({
    dialogNowMeetingTable: false,
    user_login: "",
    data_nowMeeting: null,
    spinning: false,
    modal_eject: null,
    empty_data: false,
    email_user: "",
    role_user: "",
  }),
  created() {
    // this.getdata_storage();
    this.role_user = this.$store.state.data_role.role;
  },
  methods: {
    open(data) {
      console.log(data);
      // this.role_user = data;
      this.dialogNowMeetingTable = true;
      this.API_nowMeetingTable();
    },
    close_dialogNowMeetingTable() {
      this.dialogNowMeetingTable = false;
    },
    cleanSpinning() {
      this.spinning = false;
    },
    API_nowMeetingTable() {
      this.spinning = true;

      var resdata = "";
      this.axios({
        method: "GET",
        url:
          this.$store.state.url_get_API_axios +
          "api/v1/nowMeetingTable/" +
          this.$store.state.email_User,
        headers: {
          Authorization: this.$store.state.token_user,
        },
        // headers: { Authorization: "Bearer " + localStorage.token },
      })
        .then((response) => {
          // console.log("API_nowMeetingTable--->", response);

          this.results = response.data;
          this.cleanSpinning();
          // console.log(this.results.Value[0].access);
          // console.log("---->",typeof(this.results.Value.length));
          if (this.results.Status == "success") {
            this.data_nowMeeting = this.results.Value;
            // console.log(this.data_nowMeeting);
            this.empty_data = false;
            if (this.results.Value.length == 0) {
              this.data_nowMeeting = [];
              this.empty_data = true;
            }
          } else {
            this.cleanSpinning();
            resdata = "ไม่พบข้อมูล";
            this.Model_countDown_error(resdata);
          }
        })
        .catch((error) => {
          this.cleanSpinning();
          console.log(error.message);
          // this.loading = false;
          // if (error.message == "Request failed with status code 400") {
          //   this.$message.error("ไม่พบข้อมูล");
          // }
        });
    },

    parseToDateFormat(dateString) {
      let date = dateString.split(" ")[0].split("-");

      return "วันที่ : " + date[2] + " - " + date[1] + " - " + date[0];
    },
    parseToTimeFormat(startTime, endTime) {
      let timeStart_hour = startTime.split(" ")[1].split(":")[0];
      let timeStart_min = startTime.split(" ")[1].split(":")[1];
      let timeEnd_hour = endTime.split(" ")[1].split(":")[0];
      let timeEnd_min = endTime.split(" ")[1].split(":")[1];
      return (
        "เวลา : " +
        timeStart_hour +
        ":" +
        timeStart_min +
        " - " +
        timeEnd_hour +
        ":" +
        timeEnd_min +
        " น."
      );
    },
    // getdata_storage() {
    //   let data = JSON.parse(window.localStorage.getItem("user_data"));
    //   console.log(data);

    //   if (data === null) {
    //     this.getdata = null;
    //   } else {
    //     this.email_user = data.email;
        // this.role_status = data.role;
      // }
    // },
    Model_countDown_error(response_Msg) {
      if (response_Msg == "fail") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "ไม่พบผู้ใช้นี้",
          content: `โปรดล็อกอินอีกครั้ง`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `โปรดล็อกอินอีกครั้ง`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else if (response_Msg == "Request failed with status code 400") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
  },
};
</script>
<style scoped></style>
