<template>
  <div>
    <a-modal v-model="dialog_addMeeting" centered title="จองห้องประชุม" :maskClosable="false">
      <a-spin :spinning="spinning">
        <div class="spin-content">
          <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" >
            <a-form-item label="วันที่และเวลาที่ท่านเลือกจองห้องประชุม">
              <a-alert
                :message="this.message_date_alert"
                :description="this.message_time_alert"
              />
            </a-form-item>

            <a-form-item label="โปรดเลือกห้องประชุมด้านล่างนี้">
              <a-select
                placeholder="โปรดเลือกห้องประชุม"
                option-filter-prop="children"
                @change="selected_room"
                class="pr-10"
              >
                <a-select-option
                  inputReadOnly
                  :value="items"
                  v-for="items in List_room_select"
                  :key="items"
                >
                  {{ items }}
                </a-select-option>
              </a-select>
            </a-form-item>

            <a-form-item label="หัวข้อการประชุม:">
              <a-input
                v-model="Topic_Meeting"
                v-decorator="[
                  'agenda',
                  {
                    rules: [
                      { required: true, message: 'โปรดระบุหัวข้อการประชุม' },
                    ],
                  },
                ]"
                placeholder="โปรดระบุหัวข้อการประชุม"
              />
            </a-form-item>

            <a-form-item label="เชิญผู้ร่วมประชุม:">
              <a-select
                mode="multiple"
                placeholder="ค้นหาผู้ร่วมประชุม"
                @change="Change_Select_person"
              >
                <a-select-option
                  v-for="items in data_select_person"
                  :key="items"
                >
                  {{ items }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-form>
        </div>
      </a-spin>
      <template slot="footer">
        <a-button key="back" @click="CloseDialog()">
          ยกเลิก
        </a-button>
        <a-button
          key="submit"
          type="primary"
          :loading="loading"
          @click="Validate_Before_API_SendData()"
        >
          จอง
        </a-button>
      </template>
    </a-modal>
  
  </div>
</template>
<script>

const formItemLayout = {
  labelCol: { span: 2 },
  wrapperCol: { span: 4 },
};
const formTailLayout = {
  labelCol: { span: 2 },
  wrapperCol: { span: 4, offset: 2 },
};
export default {
  components: {
    
  },
  data: () => ({
    dialog_addMeeting: false,
    List_room_select: null,
    spinning: false,
    data_select_person: [],
    message_date_alert: "",
    message_time_alert: "",
    Topic_Meeting: "",
    person_select: "",
    formItemLayout,
    formTailLayout,
    username: "",
    room_Meeting: "",
    meeting_start: "",
    date_not_convert_select: "",
    meeting_end: "",
    loading: false,
    room_value: null,
    num_room: "",
    email_user: "",
  }),
  mounted() {},
  created() {
    // this.getdata_storage();
  },
  methods: {  

    open(data) {
      this.message_date_alert = "วันที่ : " + data.date_convert_select;
      this.message_time_alert =
        "เวลาที่เริ่มต้น : " +
        data.start_time +
        " น." +
        " - " +
        "เวลาที่สิ้นสุด : " +
        data.end_time +
        " น.";
      this.date_not_convert_select = data.date_not_convert_select;
      (this.meeting_start = data.start_time),
        (this.meeting_end = data.end_time),
        (this.List_room_select = data.room_source_api);
      this.dialog_addMeeting = true;
      this.API_GetUserTable();
    },
    CloseDialog() {
      this.dialog_addMeeting = false;
      
    },
    selected_room(value) {
      if (value != "") {
        this.num_room = value;
      }
    },
    onSearch(value) {
      console.log(value);
    },
    Change_Select_person(value) {
      console.log(value);

      if (value != "") {
        this.person_select = value;
      }
    },

    async API_GetUserTable() {
      this.spinning = true;
      await this.axios({
        method: "GET",
        url: this.$store.state.url_get_API_axios + "api/v1/userTable/email",
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          console.log(response.data);
          // console.log(this.$store.state.token_user);
          var results = response.data.Value;
          if (response.data.Status == "success") {
            this.data_select_person = []
            results.forEach((email) => {
              
              if (email !== this.$store.state.email_User) {
                this.data_select_person.push(email);
              }
            });
            // this.data_select_person = response.data.Value;
            this.spinning = false;
          } else {
            this.spinning = false;
            this.$error({
              title: "ไม่พบข้อมูลผู้ร่วมประชุม",
              content: "ไม่พบข้อมูลผู้ร่วมประชุม",
              centered: true,
            });
          }
        })
        .catch((error) => {
          this.spinning = false;
          // console.log(error.message);
          // this.loading = false;
          if (error.message == "Request failed with status code 400") {
            this.$message.error("ไม่พบข้อมูล");
          }
          else{
            this.$message.error("ไม่พบข้อมูล");
          }
        });
    },
    async Validate_Before_API_SendData() {
       var resStatus = "";
      if (
        this.num_room == "" ||
        this.Topic_Meeting == "" ||
        // this.person_select == [] ||
        this.date_not_convert_select == "" ||
        this.meeting_start == "" ||
        this.meeting_end == ""
      ) {
        resStatus = "กรุณากรอกข้อมูลให้ครบถ้วน"
        this.Model_countDown_error(resStatus);

      } else {
        await this.API_SendAddData();
        this.$store.commit('getDestroyer', true)
      }
    },
    async API_SendAddData() {
      // console.log(this.$store.state.token_user);
      this.spinning = true;
      var resStatus = "";
      var source = {
        one_email: this.$store.state.email_User,
        agenda: this.Topic_Meeting,
        room_num: this.num_room,
        guests: this.person_select,
        meeting_start: this.date_not_convert_select + " " + this.meeting_start,
        meeting_end: this.date_not_convert_select + " " + this.meeting_end,
      };
      
      await this.axios({
        method: "POST",
        url: this.$store.state.url_get_API_axios + "api/v1/booking",
        data: source,
        headers: {
          Authorization: this.$store.state.token_user,
        },

      })
        .then((response) => {
          // console.log("API_SendAddData------->",response);
          // this.$store.commit("getDataMeeting",this.date_not_convert_select);
          if (response.data.Status == "success") {
            this.spinning = false;
            this.$emit('API_GetBookingCalendarUser')
            this.$success({
              title: "จองห้องประชุมสำเร็จ",
              content: "ท่านสามารถดูการจองของท่านได้จากเมนู ดูการจอง",
              centered: true,
            });
              this.$emit('getAPI_GetBookingCalendar');
              this.dialog_addMeeting = false;
              // window.location.reload()
              // this.$refs.form.resetValidation();
          } else {
            this.spinning = false;
            this.dialog_addMeeting = false;
            this.$error({
              title: "ไม่พบข้อมูล",
              content: "ไม่พบข้อมูล",
              centered: true,
            });
          }
          // this.$refs.form.resetValidation();
        })
        .catch((error) => {
            console.log(error.message);
            this.cleanSpinning();
            if (error.message == "Request failed with status code 400") {
              this.Model_countDown_error(error.message);
            } else if (error.message == "Request failed with status code 401") {
              this.$refs.ModalStatuscode.open_dialog401();
            } else if (error.message == "Request failed with status code 404") {
              this.$refs.ModalStatuscode.open_dialog404();
            } else if (error.message == "Request failed with status code 500") {
              this.$refs.ModalStatuscode.open_dialog500();
            } else {
              resStatus = "error";
              this.Model_countDown_error(resStatus);
            }
          });
    },
    // getdata_storage() {
    //   let data = JSON.parse(window.localStorage.getItem("user_data"));
    //   // console.log('data : ', data);
    //   if (data === null) {
    //     this.getdata = null;
    //   } else {
    //     this.email_user = data.email;
    //   }
    // },
      Model_countDown_error(response_Msg) {
      if (response_Msg == "กรุณากรอกข้อมูลให้ครบถ้วน") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `โปรดตรวจสอบข้อมูลของท่าน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `โปรดตรวจสอบข้อมูลของท่าน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } 
      else if(response_Msg == "Request failed with status code 400"){
         let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
      else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
  },
};
</script>
