<template>
  <div>
    <a-modal v-model="DialogAddPerson" title="ข้อมูลการประชุมของท่าน" centered :maskClosable="false">
      <a-spin :spinning="spinning">
        <div>
          <v-row>
            <v-col class="pa-0" cols="9">
              <a-form>
                <a-form-item>
                <a-select
                  v-model="insertPerson"
                  mode="multiple"
                  placeholder="เชิญผู้ร่วมประชุม"
                  @change="Change_Select_add_person"
                >
                  <a-select-option
                    v-for="items in data_select_add_person"
                    :key="items"
                    @click="InsertGuest(items)"
                  >
                    {{ items }}
                  </a-select-option>
                </a-select>
                </a-form-item>
              </a-form>
            </v-col>
            <v-col cols="2">
              <a-button type="primary" @click="Validate_Before_API_AddNewGuest(guest_select)" style="margin-top: 3px;">
                เพิ่ม
              </a-button>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr style="background-color:#BDBDBD">
                      <th style="color:white">
                        <h3>ชื่อผู้เข้าร่วมประชุม</h3>
                      </th>
                      <th style="color:white">
                        <div><h3>ลบ</h3></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in data_booking.guest_table"
                      :key="item"
                      style="background-color: #F5F5F5"
                    >
                      <td>{{ item.email }}</td>

                      <td class="text-center">
                        <v-icon
                          style="color: red;"
                          @click="
                            deletePerson(item, data_booking.booking_number)
                          "
                        >
                          mdi-close-circle
                        </v-icon>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
        </div>
      </a-spin>
      <template slot="footer">
        <a-button key="back" type="primary" @click="close_dialogAddPerson()">
          ปิด
        </a-button>
      </template>
    </a-modal>

    <a-modal v-model="status_500" centered :footer="null">
      <a-result
        status="500"
        title="500"
        sub-title="Sorry, the server is wrong."
      >
        <template #extra> </template>
      </a-result>
    </a-modal>
  </div>
</template>
<script>
export default {
  data: () => ({
    insertPerson: [],
    data_select_add_person: [],
    data_showUser: null,
    DialogAddPerson: false,
    empty_data: false,
    spinning: false,
    data_user: null,
    data_booking: {},
    guest_select: [],
    person_select_new: "",
  }),
  methods: {
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toUpperCase().indexOf(input.toUpperCase()) >= 0
      );
    },
    Change_Select_add_person (value){
      console.log(value);
      if (value != "") {
        this.guest_select = value;
      }
    },
    InsertGuest(val) {
      this.guest_select.push(val);
      // console.log(this.guest_select);
    },
    async open(data) {
      this.data_booking = data;
      this.DialogAddPerson = true;
      await this.API_GetPerson();
      // console.log(this.data_select_add_person);
      // this.guest_select = data;
      // this.AddNewGuest();
    },

    close_dialogAddPerson() {
      // this.form.resetFields();
      this.DialogAddPerson = false;
    },
    cleanSpinning() {
      this.spinning = false;
    },
    Validate_Before_API_AddNewGuest(data){
      // console.log(data);
      var res_Status = "";
      // console.log(data.length);
      if(data.length == 0){
        res_Status = "กรุณาเพิ่มรายชื่อผู้เข้าร่วมประชุม"
        this.Model_countDown_error(res_Status);
      }else{
        this.AddNewGuest(data);
      }
    },
    async AddNewGuest(data) {
      console.log(data);
      // console.log(this.data_booking);
      var data_add_new_guest = {
        booking_number: this.data_booking.booking_number,
        guest_email: data,
      };
      // console.log(data_add_new_guest);
      
      await this.axios({
        method: "POST",
        url: this.$store.state.url_get_API_axios + "api/v1/guestManager/insert",
        data: data_add_new_guest,
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          this.insertPerson = []
          this.guest_select = []
          // console.log("----->API_AddNew_response", response);
          this.data_booking = response.data.Value[0];
          // console.log(this.data_booking);

          var results = response.data;
          if (results.Status == "success") {
            this.cleanSpinning();
            this.$success({
              title: "บันทึกสำเร็จ",
              okText: "ปิด",
              // content: "บันทึกสำเร็จ",
              centered: true,
            });
            this.spinning = true;
          } else {
            this.cleanSpinning();
          }
          this.cleanSpinning();
        })
        .catch((error) => {
          console.log(error.message);
          console.log(error.response.data.Message);
        });
      this.API_GetPerson();
      this.$emit("updateGuest");
      // this.$refs.form.reset();
    },
     Model_countDown_error(response_Msg) {
      if (response_Msg == "กรุณาเพิ่มรายชื่อผู้เข้าร่วมประชุม") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `กรุณาเพิ่มรายชื่อผู้เข้าร่วมประชุม`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `กรุณาเพิ่มรายชื่อผู้เข้าร่วมประชุม`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
     },
    deletePerson(data, booking) {
      // console.log("---deletePerson", data);
      // console.log("----booking delete", booking);
      this.$confirm({
        title: "ท่านต้องการลบหรือไม่?",
        // content: " ",
        okText: "ใช่",
        okType: "danger",
        cancelText: "ไม่",
        centered: true,
        onOk:  () => {
           this.API_DeletePerson(data, booking);
          // this.update_guest_name = true
        },
        onCancel() {},
      });
    },
    async API_DeletePerson(data, booking) {
      // console.log("----->API_DeletePerson", data);
      // console.log(data.email);
      this.spinning = true;
      var data_delete_person = {
        booking_number: booking,
        guest_email: data.email,
      };
      // console.log("data_delete_person", data_delete_person);
      await this.axios({
        method: "POST",
        url: this.$store.state.url_get_API_axios + "api/v1/guestManager/delete",
        data: data_delete_person,
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          // console.log("----->API_response", response);
          this.data_booking = response.data.Value[0];
          // console.log(this.data_booking);

          var results = response.data;
          if (results.Status == "success") {
            this.cleanSpinning();
            this.$success({
              title: "ลบสำเร็จ",
              content: "ลบสำเร็จ",
              centered: true,
            });
            this.spinning = true;
          } else {
            this.cleanSpinning();
          }
          this.cleanSpinning();
        })
        .catch((error) => {
          console.log(error.message);
          console.log(error.response.data.Message);
        });
      await this.API_GetPerson();
      this.$emit("updateGuest");
    },
    async API_GetPerson() {
      this.spinning = true;

      await this.axios({
        method: "GET",
        url:
          this.$store.state.url_get_API_axios +
          "api/v1/availableGuest/" +
          this.data_booking.booking_number,
          // this.data_booking.booking_number + '/email', 
          headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {console.log('test');
          console.log(response.data.Value);
          // console.log(response.data.Value[0].email);
          // console.log(this.data_booking.booking_number);
          // var results = response.data.Value;
          // console.log(results);
          // var results = response.data.Value;
          if (response.data.Status == "success") {
            this.data_select_add_person = [];
            // this.data_select_add_person = response.data.Value;

            // response.data.Value.forEach((userEmail) => {
            //   if (userEmail.email !== this.$store.state.email_User) {
            //     this.data_select_add_person.push(userEmail);
            //   }
            // }); สำหรับ API : api/v1/availableGuest/email


            response.data.Value.forEach((userEmail) => {
              if (userEmail.email !== this.$store.state.email_User) {
                // console.log(userEmail);
                this.data_select_add_person.push(userEmail.email);
              }
            }); //สำหรับ API : api/v1/availableGuest/

            // console.log(this.data_select_add_person);
            this.spinning = false;
          } else {
            this.spinning = false;
            this.$error({
              title: "ไม่พบข้อมูลผู้ร่วมประชุม",
              content: "ไม่พบข้อมูลผู้ร่วมประชุม",
              centered: true,
            });
          }
        })
        .catch((error) => {
          this.spinning = false;
          console.log(error.message);
          // this.loading = false;
          if (error.message == "Request failed with status code 400") {
            this.$message.error("ไม่พบข้อมูล");
          } else {
            this.$message.error("ไม่พบข้อมูล");
          }
        });
    },
  },
};
</script>

<style scoped>
.table_margin {
  margin-left: 20px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
</style>
