<template>
  <div>
    <a-modal v-model="dialog" centered title="ค้นหาห้องประชุม" :maskClosable="false">
      <a-spin :spinning="spinning">
        <div class="spin-content">
          <v-row class="pt-5" align="center" justify="center">
            <v-col>
              <a-alert
                :message="this.message_alert"
                description="โปรดกดเลือกเวลาด้านล่าง เพื่อค้นหาห้องประชุมที่ท่านต้องการ"
              />
            </v-col> </v-row
          ><br />

          <v-row
            align="center"
            justify="center"
            v-for="items in this.roomavailableStat"
            :key="items"
          >
            <v-col>
              <p>
                สถานะห้อง :
                <a-tag color="blue">
                  {{ "ห้อง : " + items.room }}
                </a-tag>
                <a-tag color="red" v-if="items.status == 'red'">
                  <!-- <span>สถานะ : </span> -->

                  <a-icon
                    type="frown"
                    theme="twoTone"
                    two-tone-color="#eb2f96"
                  />
                  <span> - มีผู้จองหนาแน่น</span>
                </a-tag>
                <a-tag color="orange" v-if="items.status == 'orange'">
                  <!-- <span>สถานะ : </span> -->
                  <a-icon type="meh" theme="twoTone" two-tone-color="#ffb517" />
                  <span> - มีผู้จองปานกลาง</span>
                </a-tag>
                <a-tag color="green" v-if="items.status == 'green'">
                  <!-- <span>สถานะ : </span> -->
                  <a-icon
                    type="smile"
                    theme="twoTone"
                    two-tone-color="#52c41a"
                  />
                  <span> - มีผู้จองน้อย </span>
                </a-tag>
              </p>
            </v-col>
          </v-row>

          <v-row class="" align="center" justify="center">
            <v-col class="" align="center" style="padding-bottom: 0px;">
              <a-form>
                <a-form-item label="เวลาเริ่มต้น">
                  <a-time-picker
                    :defaultOpenValue="beginTime"
                    inputReadOnly
                    :minute-step="1"
                    :disabledHours="disabledHours"
                    :disabledMinutes="disabledMinutes"
                    @change="onChange_Start_Time"
                    style="width: 100%"
                    :value="value_starttime"
                    format="HH:mm"
                  />
                </a-form-item>
              </a-form>
            </v-col>

            <v-col class="" align="center" style="padding-bottom: 0px;">
              <a-form>
                <a-form-item label="เวลาสิ้นสุด">
                  <div name="disabled-keyboard--input">
                    <a-time-picker
                      :defaultOpenValue="beginTime"
                      inputReadOnly
                      :minute-step="1"
                      :disabledHours="disabledHours"
                      :disabledMinutes="disabledMinutes"
                      @change="onChange_End_Time"
                      style="width: 100%"
                      :value="value_endtime"
                      format="HH:mm"
                    />
                  </div>
                </a-form-item>
              </a-form>
            </v-col>
          </v-row>
        </div>
      </a-spin>
      <template slot="footer">
        <a-button key="back" @click="closeDialog()">
          ปิด
        </a-button>
        <a-button key="submit" type="primary" @click="API_search_MeetingRoom()" >
          ค้นหา
        </a-button>
      </template>

    </a-modal>
  </div>
</template>
<script>
import moment from "moment";
export default {
  // props:['data'],
  components: {},
  data: () => ({
    beginTime: moment().add(10, 'minute'),
    dialog: false,
    select_to_date: null,
    value_starttime: null,
    value_endtime: null,
    start_time: null,
    end_time: null,
    delayTime: 500,
    spinning: false,
    date_not_convert_select: null,
    date_convert_select: "",
    loading: false,
    message_alert: "",
    source_api: {},
    data_value_room: null,
    data_dateNow: null,
    dayselect: null,
    roomavailableStat: null,
  }),
  methods: {
    moment,
    open(data) {
      // console.log(data);
      this.date_not_convert_select = data;
      var ddmmyy = data.split('-')
      var dd = ddmmyy[2];
      var mm = ddmmyy[1];
      var yy = ddmmyy[0];
      this.dayselect = dd;

      this.date_convert_select = dd + "-" + mm + "-" + yy;
      this.message_alert = "วันที่ท่านเลือก : " + this.date_convert_select;
      this.API_query_Status_Room();
      this.dialog = true;
    },
    // handleReset() {
    //   // this.form.resetFields();
    //   this.$refs.ruleForm.resetFields();
    // },
    closeDialog() {
      this.dialog = false;
    },
    getDateNow() {
      let timeNow = new Date();
      var dd = "";
      var mm = "";

      switch (true) {
        case timeNow.getDate() < 10 && timeNow.getMonth() + 1 < 10:
          dd = "0" + timeNow.getDate();
          mm = "0" + (timeNow.getMonth() + 1);
          this.data_dateNow = dd + "-" + mm + "-" + timeNow.getFullYear();
          break;
        case timeNow.getDate() < 10 && timeNow.getMonth() + 1 >= 10:
          dd = "0" + timeNow.getDate();
          mm = timeNow.getMonth() + 1;
          this.data_dateNow = dd + "-" + mm + "-" + timeNow.getFullYear();
          break;
        case timeNow.getDate() >= 10 && timeNow.getMonth() + 1 < 10:
          dd = timeNow.getDate();
          mm = "0" + (timeNow.getMonth() + 1);
          this.data_dateNow = dd + "-" + mm + "-" + timeNow.getFullYear();
          break;
        case timeNow.getDate() >= 10 && timeNow.getMonth() + 1 >= 10:
          dd = timeNow.getDate();
          mm = timeNow.getMonth() + 1;
          this.data_dateNow = dd + "-" + mm + "-" + timeNow.getFullYear();
          break;
      }
    },
    onChange_Select_Date(date, dateString) {
      if (dateString != null) {
        this.select_to_date = dateString;
      }
    },
    onChange_Start_Time(time, timeString) {
      this.value_starttime = time;
      this.start_time = timeString;
    },
    onChange_End_Time(time, timeString) {
      this.value_endtime = time;
      this.end_time = timeString;
    },
    disabledHours() {
      var hours = [];
      this.getDateNow();
      // console.log(this.date_convert_select);
      // console.log(this.data_dateNow);
      var dd_select = parseInt(this.date_convert_select.slice(0, 2));
      var dd_now = parseInt(this.data_dateNow.slice(0, 2));

      var mm_select = parseInt(this.date_convert_select.slice(4, 6));
      var mm_now = parseInt(this.data_dateNow.slice(4, 6));
      // console.log(mm_select,"+",mm_now);

      if (dd_select <= dd_now && mm_select <= mm_now) {
        for (let i = 0; i < moment().hour(); i++) {
          hours.push(i);
        }
      }
      return hours;
    },
    disabledMinutes(selectedHour) {
      // console.log(selectedHour);
      var minutes = [];
      //  console.log(this.date_convert_select);
      // console.log(this.data_dateNow);
      var dd_select = parseInt(this.date_convert_select.slice(0, 2));
      var dd_now = parseInt(this.data_dateNow.slice(0, 2));

      var mm_select = parseInt(this.date_convert_select.slice(4, 6));
      var mm_now = parseInt(this.data_dateNow.slice(4, 6))
      if (
        selectedHour === moment().hour() &&
        dd_select <= dd_now &&
        mm_select <= mm_now
      ) {
        for (var i = 0; i < moment().minute() + 10; i++) {
          //if you want to add min > time min at now( example 10 min is minutes.push(i + 10);)
          minutes.push(i);
        }
      }
      
      if (
        selectedHour === moment().hour() + 1 &&
        (moment().minute() + 10) >= 60 &&
        dd_select <= dd_now &&
        mm_select <= mm_now
      ) {
        for (var j = 0; j < (moment().minute() + 10) - 60 ; j++) {
          //if you want to add min > time min at now( example 10 min is minutes.push(i + 10);)
          minutes.push(j);
        }
      }
      // console.log(minutes);
      return minutes;
    },
    API_search_MeetingRoom() {
      this.spinning = true;
      var resStatus = "";
      if (this.start_time == null || this.end_time == null) {
        this.$message.error("กรุุณาเลือกข้อมูลให้ครบถ้วน");
      } else {
        this.source_api = {
          meeting_start: this.date_not_convert_select + " " + this.start_time,
          meeting_end: this.date_not_convert_select + " " + this.end_time,
        };
        // console.log(this.source_api);
        // console.log(this.$store.state.url_get_API_axios);
        this.axios({
          method: "POST",
          url:
            this.$store.state.url_get_API_axios + "api/v1/checkAvailableRoom",
          data: this.source_api,
          headers: {
          Authorization: this.$store.state.token_user,
        },
        })

          .then((response) => {
            // console.log("API_search_MeetingRoom----->", response);
            this.cleanSpinning();
            if (response.data.Message == "these rooms are available") {
              this.data_value_room = response.data.Value;
              this.cleanSpinning();

              var data = {
                date_not_convert_select: this.date_not_convert_select,
                date_convert_select: this.date_convert_select,
                start_time: this.start_time,
                end_time: this.end_time,
                room_source_api: this.data_value_room,
              };
              // console.log(data);
              this.$emit("getDialogAddMeeting", data);
              this.dialog = false;
            } else if (response.data.Message == "no room available") {
              // this.cleanSpinning();
              this.warning()             
            }
          })
          .catch((error) => {
            // console.log(error.message);
            this.cleanSpinning();
            if (error.message == "Request failed with status code 400") {
              if (
                error.response.data.Message ==
                "start time sould be less then end time"
              ) {
                resStatus = "start time sould be less then end time";
                this.Model_countDown_error(resStatus);
              } else if (error.response.data.Message == "datetime is invalid") {
                resStatus = "datetime is invalid";
                this.Model_countDown_error(resStatus);
              } else {
                resStatus = "some value might be null";
                this.Model_countDown_error(resStatus);
              }
            } else if (error.message == "Request failed with status code 401") {
              this.$refs.ModalStatuscode.open_dialog401();
            } else if (error.message == "Request failed with status code 404") {
              this.$refs.ModalStatuscode.open_dialog404();
            } else if (error.message == "Request failed with status code 500") {
              this.$refs.ModalStatuscode.open_dialog500();
            } else {
              resStatus = "error";
              this.Model_countDown_error(resStatus);
            }
          });
      }
    },
    API_query_Status_Room() {
      this.spinning = true;
      var dd = "";
      var resStatus = "";
      if (this.dayselect.slice(0, 1) < 10 && this.dayselect.slice(0, 1) == 0) {
        dd = this.dayselect.slice(1, 2);
      } else {
        dd = this.dayselect;
      }
      this.axios({
        method: "GET",
        url: this.$store.state.url_get_API_axios + "api/v1/availableStat/" + dd,
        headers: {
          Authorization: this.$store.state.token_user,
        },
      })
        .then((response) => {
          // console.log(response.data.Value);
          this.cleanSpinning();
          if (response.data.Status == "success") {
            this.roomavailableStat = response.data.Value[0].booking_sum_time;
            this.cleanSpinning();
          }
        })
        .catch((error) => {
          // console.log(error.message);
          this.cleanSpinning();
          if (error.message == "Request failed with status code 400") {
            resStatus = "Request failed with status code 400";
            this.Model_countDown_error(resStatus);
          } else if (error.message == "Request failed with status code 401") {
            resStatus = "fail";
            this.Model_countDown_error(resStatus);
          } else if (error.message == "Request failed with status code 404") {
            this.$refs.ModalStatuscode.open_dialog404();
          } else if (error.message == "Request failed with status code 500") {
            this.$refs.ModalStatuscode.open_dialog500();
          } else {
            resStatus = "error";
            this.Model_countDown_error(resStatus);
          }
        });
    },

    cleanSpinning() {
      this.spinning = false;
    },
    warning() {
      this.$warning({
        title: 'ไม่พบห้องว่าง',
        content: 'กรุณาเลือกเวลาใหม่อีกครั้ง',
        centered: true
      });
    },
    Model_countDown_error(response_Msg) {
      if (
        response_Msg == "start time sould be less then end time" ||
        response_Msg == "datetime is invalid" ||
        response_Msg == "some value might be null"
      ) {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เวลาไม่ถูกต้อง",
          content: `กรุณาเลือกเวลาใหม่อีกครั้ง`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `โปรดล็อกอินอีกครั้ง`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else if (response_Msg == "Request failed with status code 400") {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "กรุณากรอกข้อมูลให้ครบถ้วน",
          content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `เนื่องจากกรอกข้อมูลไม่ครบถ้วน`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      } else {
        let secondsToGo = 3;
        const modal = this.$error({
          title: "เกิดข้อผิดพลาด",
          content: `ไม่สามารถใช้งานได้`,
          centered: true,
        });
        const interval = setInterval(() => {
          secondsToGo -= 1;
          modal.update({
            content: `ไม่สามารถใช้งานได้`,
          });
        }, 1000);
        setTimeout(() => {
          clearInterval(interval);
          modal.destroy();
        }, secondsToGo * 1000);
      }
    },
  },
};
</script>
<style scoped>
/* .ant-time-picker-panel-select {
    overflow-y: scroll !important;
} */
</style>
